{% from theme('_helpers.html') import  render_pagination with context %}
{% extends theme("base.html") %}
{%block title%} <title>师兄指路 师兄师姐</title>{% endblock %}
{% block seo_meta %}
<meta name="description" content="{{channel.description or Config.get('site', 'site_description')}}">
{% if channel.tags %}
<meta name="keywords" content="{{channel.tags|join(',')}}">
{% else %}
<meta name="keywords" content="{{Config.get('site', 'site_keywords')}}">
{% endif %}

{% endblock %}
{% block head_css %}
<link rel="stylesheet" href="{{theme_static('css/brother_list.css')}}">
{% endblock %}
{% block content %}
<div class="container">
    {% include theme('header.html') %}
    <div class="sort-wrap">
            <button class="deactive-sort-btn" disabled="disabled">最热排序</button>
            <button class="active-sort-btn">最新上传</button>
    </div>
    <div class="contents">
    </div>
    <div class="fix-btn">
      <img src="{{theme_static('img/up_top.png')}}" alt="">
    </div>
    <button id="more-btn" class="more-btn">加载更多</button>
    {% include theme('footer.html') %}
</div>
{% endblock %}
{% block bottom_js %}
<script type="text/javascript" src="{{theme_static('js/zepto/1.1.6/ajax.js')}}"></script>
<script type="text/javascript" src="//cdn.bootcss.com/handlebars.js/4.0.5/handlebars.min.js"></script>
<script type="text/javascript" src="{{theme_static('js/brothers.js')}}"></script>
{% endblock %}
