{% from theme('_helpers.html') import load_comment_area, load_tags_area, load_share_area, load_recommendation_area, load_page_header, load_page_time, load_page_content  with context %}
{% extends theme("base.html") %}

{% block title %}<title>师兄师姐名片 {{content.title}}</title>{% endblock %}

{% block seo_meta %}
<meta name="description" content="{{content.summary}}">
<meta name="keywords" content="{{content.tags|join(',')}}">
{% endblock %}

{% block head_css %}
<link rel="stylesheet" type="text/css" href="{{theme_static('css/brother_detail.css')}}">
{% endblock %}

{% block content %}
{% include theme('header.html') %}
<div class="container" id="container">
    <div class="cover">
        <img src="{{ content.get_main_image_url(default="") }}" alt="">
    </div>
    <div class="info">
        <p class="info-name">{{ content.title }}</p>
        <p class="info-education"><span>{{ content.brother_college_major }}</span>&nbsp;&nbsp;<span>{{ content.brother_college_name }}</span></p>
        <p class="info-tag">{% for tag in content.brother_tags %}<span>{{ tag }}</span>{% endfor %}</p>
    </div>
    <div class="motto">
        <p>“</p>
        <p>{{ content.brother_motto }}</p>
        <p>”</p>
    </div>
            <div class="service">
              {% if content.brother_is_share %}
              <div class="service-item service-active">
                <p>
                看看<br>
                师兄师姐分享
                </p>
                <button  {% if content.brother_is_video %} onclick="location='{{content.brother_videos.get_absolute_url()}}?id={{content.id}}&likes={{content.like_numbers}}'" {% else %}onclick="location='{{content.brother_articles.get_absolute_url()}}?id={{content.id}}&likes={{content.like_numbers}}'" {% endif %}>分享</button>
              </div>
            {% else %}
            <div class="service-item service-negative">
              <p>
              看看其他<br>
              师兄师姐分享
              </p>
              <button>分享</button>
            </div>
            {% endif %}
            {% if content.brother_is_ask %}
            <div class="service-item service-active">
               <p>
                直接向师兄师姐<br>
                问路
                </p>
                <button onclick="location='/brotherask/?name={{content.title}}&id={{content.id}}'">我要问路</button>
             </div>
             {% else %}
             <div class="service-item service-negative">
                <p>
                  向其他师兄师姐<br>
                  问路
                </p>
                <button>我要问路</button>
              </div>
            {% endif %}
    </div>
    <div class="experience-container">
        <div class="experience-item">
            <h5>高校专业经历</h5>
            {% for experience in content.brother_experience_study %}
            <p><span>{{ experience.time }}</span>&nbsp;<span>{{ experience.title }}</span></p>
            {% endfor %}
        </div>
        <div class="experience-item">
            <h5>实习工作经历</h5>
            {% for experience in content.brother_experience_work %}
            <p><span>{{ experience.time }}</span>&nbsp;<span>{{ experience.title }}</span></p>
            {% endfor %}
        </div>
        <div class="experience-item">
            <h5>社团组织与获奖经历</h5>
            {% for experience in content.brither_experience_award%}
            <p><span>{{ experience.time }}</span>&nbsp;<span>{{ experience.title }}</span></p>
            {% endfor %}  
        </div>
    </div>
</div>

<!-- 下面部分为sideout相关DOM，注意给整体container加上id -->
<nav id="menu">
    <header>
        <h2>目录</h2>
    </header>
    <ul>
        <li class="menu-item menu-negative" seq="0">学校专业学历</li>
        <li class="menu-item menu-negative" seq="1">实习工作经历</li>
        <li class="menu-item menu-negative" seq="2">社团组织与获奖经历</li>
    </ul>
</nav>
<div class="fix-btn">
    <img src="{{theme_static('img/up_top.png')}}" alt="">
    <img src="{{theme_static('img/section_menu.png')}}" alt="">
</div>
<div class="shade"></div>
{% include theme('footer.html') %}
{% endblock %}

{% block bottom_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/slideout/0.1.12/slideout.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.1.0.js"></script>
<script>
    var slideout = new Slideout({
        'panel': document.getElementById('container'),
        'menu': document.getElementById('menu'),
        'padding': 256,
        'tolerance': 70,
        'side': 'right',
        'touch': false,
    });

    slideout.on("close", function() {
        $(".shade").hide();
        slideout.close();
    });

    $(".shade").on("tap", function() {
        slideout.close();
    });

    slideout.on('close', function() {
        $(".fix-btn").show();
    });
    
    $(".fix-btn img").eq(1).on("tap", function() {
        $(".fix-btn").hide();
        slideout.open();
        $(".shade").show();
    });
    
    $(".fix-btn img").eq(0).on("tap", function() {
        scroll(0,0);
    });
    
    $("#menu ul").on("tap", function(event) {
        n = parseInt($(event.target).attr("seq"));
        // 遍历改变目录文字样式
        $("#menu ul li").each(function(index, element) {
            if(index == n) {
                $(element).addClass("menu-active");
                $(element).removeClass("menu-negative");
            }
            else {
                $(element).addClass("menu-negative");
                $(element).removeClass("menu-active");
            }
        });
        
        slideout.close();
        
        $(".experience-container div")[n].scrollIntoView();
    });

    function setWechatShare() {
        var timestamp, nonceStr, jsapi_ticket, signature;

        $.ajaxSettings.async = false;
        
        var data = {
            "url": window.location.href
        };

        $.getJSON("/wechat/js", data, function(data){
            console.debug(data.url);
            timestamp = data.timestamp;
            nonceStr = data.nonceStr;
            signature = data.signature;
        });

        config = {
            debug: false,
            appId: 'wx463eb1fd257a1735', // 必填，公众号的唯一标识
            timestamp: timestamp, // 必填，生成签名的时间戳
            nonceStr: nonceStr, // 必填，生成签名的随机串
            signature: signature,// 必填，签名，见附录1
            jsApiList: [
                "onMenuShareTimeline",
                "onMenuShareAppMessage",
                "onMenuShareQQ",
                "onMenuShareWeibo",
                "onMenuShareQZone"
            ]
        };

        var share = {}
        // 标题：专业+学校+名字
        // 链接：本页链接
        // 图标：照片
        // 描述：经典语录
        share.title = $(".info-education span").eq(0).html() + "  " +
            $(".info-education span").eq(1).html() + "  " + 
            $(".info-name").html();
        share.url = window.location.href;
        share.icon = "http://" + window.location.hostname + $(".cover img").attr("src");
        share.desp = $(".motto p").eq(1).html();
        console.debug(share);
            
        wx.ready(function(){
            // 分享到朋友圈
            wx.onMenuShareTimeline({
                title: share.title, // 分享标题
                link: share.url, // 分享链接
                imgUrl: share.icon, // 分享图标
                success: function () { 
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () { 
                    // 用户取消分享后执行的回调函数
                }
            });

            // 分享给朋友
            wx.onMenuShareAppMessage({
                title: share.title, // 分享标题
                desc: share.desp, // 分享描述
                link: share.url, // 分享链接
                imgUrl: share.icon, // 分享图标
                type: 'link', // 分享类型,music、video或link，不填默认为link
                dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                success: function () { 
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () { 
                    // 用户取消分享后执行的回调函数
                }
            });
        });

        wx.error(function(res){
            console.debug(res);
        });

        wx.config(config);
    }

    // TODO: 浏览器判断代码，可以封装成模块http://www.cnblogs.com/leejersey/p/4704837.html
    var browser = {
        versions: function () {
            var u = navigator.userAgent, app = navigator.appVersion;
            return {         //移动终端浏览器版本信息
                trident: u.indexOf('Trident') > -1, //IE内核
                presto: u.indexOf('Presto') > -1, //opera内核
                webKit: u.indexOf('AppleWebKit') > -1, //苹果、谷歌内核
                gecko: u.indexOf('Gecko') > -1 && u.indexOf('KHTML') == -1, //火狐内核
                mobile: !!u.match(/AppleWebKit.*Mobile.*/), //是否为移动终端
                ios: !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/), //ios终端
                android: u.indexOf('Android') > -1 || u.indexOf('Linux') > -1, //android终端或uc浏览器
                iPhone: u.indexOf('iPhone') > -1, //是否为iPhone或者QQHD浏览器
                iPad: u.indexOf('iPad') > -1, //是否iPad
                webApp: u.indexOf('Safari') == -1 //是否web应该程序，没有头部与底部
            };
        }(),
        language: (navigator.browserLanguage || navigator.language).toLowerCase()
    }

    // 判断是否是在微信中打开
    if (browser.versions.mobile) {
        var ua = navigator.userAgent.toLowerCase();//获取判断用的对象
        if (ua.match(/MicroMessenger/i) == "micromessenger") {
            setWechatShare();
        }
    }
</script>
{% endblock %}
