{% extends theme("base.html") %}

{%block title%} {{channel.long_slug.split('/')|join(' | ')}} | {{Config.get('site', 'site_name', 'Quokka site')}} {% endblock %}

{% block seo_meta %}
<meta name="description" content="{{channel.description or Config.get('site', 'site_description')}}">
{%if channel.tags %}
<meta name="keywords" content="{{channel.tags|join(',')}}">
{%else%}
<meta name="keywords" content="{{Config.get('site', 'site_keywords')}}">
{%endif%}
{% endblock %}

{% block head_css %}
<link rel="stylesheet" href="{{theme_static('css/join.css')}}">
{% endblock %}

{% block content %}
    {% include theme('header.html') %}
    <img src="{{theme_static('img/join_bg.png')}}" alt="背景图" class="join-bg">
    
    <div class="join-content">
        <img src="{{theme_static('img/join_text.png')}}" alt="我们需要伙伴">
    </div>

    <div class="join-qrcode">
        <img src="{{theme_static('img/join_qrcode.png')}}" alt="扫描二维码加入">
        <div class="clearfloat"></div>
    </div>

    {% include theme('footer.html') %}
{% endblock %}

{% block bottom_js %}
{% endblock %}




