{% extends theme("base.html") %}
{% block seo_meta %}
<meta name="description" content="{{content.summary}}">
<meta name="keywords" content="{{content.tags|join(',')}}">
{% endblock %}
{% block head %}
<title>{{ content.title }}</title>
{% endblock head %}
{% block head_css %}
<link rel="stylesheet" type="text/css" href="{{theme_static('css/articles_detail.css')}}">
<link rel="stylesheet" type="text/css" href="{{theme_static('css/share.css')}}">
{% endblock %}
{% block content %}
        {% include theme('header.html') %}
        <div class="rest">
        <div  class="content">
              <div class="content-header">
                    <div class="header-wrap">
                      <p>{{content.title}}</p>
                      <span>作者&nbsp;|&nbsp;{{content.author}}&nbsp;&nbsp;发表日期&nbsp;|&nbsp;{{content.created_at.strftime('%Y.%m.%d')}}</span>
                    </div>
              </div>
                <div id="section-links" class="section-links">
                    {% for article in content.articles%}
                      {% if loop.index==1 %}
                    <a class="selected-section-link section-link">
                        <span>{{article.title}}</span>
                    </a>
                    {% else %}
                    <a class="noselect-section-link section-link">
                        <span>{{article.title}}</span>
                    </a>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="right-wrap">
                    <a href="#nav">
                        <img src="{{theme_static('img/back_top.png')}}">
                    </a>
                </div>
                <div class="articles-container">
                        {% if channel.slug =="brotherarticles"%}
                        <div class="article-wrap">
                          <div id="like-button" class="like-wrap">
                                <img class="good_ico" src="{{theme_static('img/zan.png')}}">
                                <p id="like_numbers">{{ request.args.get('likes') }}</p>
                          </div>
                          {% endif %}
                          <div id="article" class="article-detail">{{content.articles[0].body}}</div>
                        </div>
                     {% include theme('share.html') %}
                </div>
     </div>
     {% include theme('footer.html') %}
     </div>
{% endblock %}
{% block bottom_js %}
 <script type="text/javascript">
    var articles=[{% for article in content.articles %} "{{article.body}}",{% endfor %}];
    var likeNum={{ request.args.get('likes') }};
     var index=0;
     var likeStatus=true;
    //将第二个按钮放到下面
    var margin=($(".articles-container").height()-$("#section-links").height())/2;
    $(".section-link:eq(0)").css("margin-top",margin);
      /*按钮点击事件*/
    $(".section-link").click(function() {
        index=$(this).index();
        $("#article").text(articles[index]);
        //更换样式
        $(".section-link").removeClass("selected-section-link").addClass("noselect-section-link");
        $(this).removeClass("noselect-section-link").addClass("selected-section-link");
        //清空margin
        $(".section-link").css("margin-top",0);
        margin=($(".articles-container").height()-$("#section-links").height())/2;
        $(this).css("margin-top",margin);
    });

    //增加csrf_token
    $(function () {
            $.ajaxSetup({
                headers: {
                    "X-CSRFToken": $("meta[name=csrf_token]").attr("content")
            }
        });
        });

    //点赞事件
    $("#like-button").click(function  () {
        if(likeStatus){
            $.post(
                '/brothers/addlike', 
                {"id":"{{ request.args.get('id') }}"}, 
                function(){
                  likeNum+=1;
                  $("#like_numbers").text(likeNum);

                }
            );
            likeStatus=false;

        }
    });
 </script>
 <script type="text/javascript" src="{{theme_static('js/jquery.qrcode.min.js')}}"></script>
 <script type="text/javascript" src="{{theme_static('js/qrcode.js')}}"></script>
 <script type="text/javascript" src="{{theme_static('js/share.js')}}"></script>
 {% endblock %}