{% import theme('_menu.html') as menu with context -%}
<!doctype html>
<html lang="en">
<head>
    <meta name="renderer" content="webkit">
    <meta charset="utf-8" />
    <meta name="csrf_token" content="{{ csrf_token() }}" />
    {%block title%}{% endblock %}
    {% block seo_meta %}
    <meta name="description" content="{{Config.get('site', 'site_description')}}" />
    <meta name="keywords" content="{{Config.get('site', 'site_keywords')}}" />
    {% endblock %}
    {% block meta %}{% endblock %}
    {% block head %}
    {% endblock head %}

    <link rel="stylesheet" href="{{theme_static('css/footer.css')}}">
    <link rel="stylesheet" href="{{theme_static('css/header.css')}}">
    {% block head_css %}{% endblock %}


    {% block head_js %}
    <script type="text/javascript">
        if(navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)){
            location="http://m.brotalk.cn"+window.location.pathname;
        }
    </script>
    {% endblock %}
</head>

<body>
    {% block content %}
    {% endblock %}
    
    {% block commom_js %}
    <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
    {% endblock %}
    {% block bottom_js %}
    {% endblock %}
    {% block js_footer %}{% endblock %}
</body>
</html>
