{% import theme('_menu.html') as menu with context -%}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% block seo_meta %}
    <meta name="description" content="{{Config.get('site', 'site_description')}}">
    <meta name="keywords" content="{{Config.get('site', 'site_keywords')}}">
    {% endblock %}
    {% block meta %}{% endblock %}
    {% block head %}
    {% endblock head %}

    <link rel="stylesheet" href="{{theme_static('css/footer.css')}}">
    <link rel="stylesheet" href="{{theme_static('css/header.css')}}">
    {% block head_css %}{% endblock %}
    {% block head_js %}{% endblock %}
</head>

<body>
    {% block content %}
    {% endblock %}
    {% block bottom_js %}{% endblock %}
    {% block js_footer %}{% endblock %}
</body>
</html>
