{% import theme('_menu.html') as menu with context -%}
<div id="header">
    <div id="logo">
        <img src="{{ Config.get('site', 'site_logo', theme_static('img/logo.png')) }}" alt="{{Config.get('site', 'site_name')}}">
        <span>{{channel.title}}</span>
    </div>
    <div id="nav">
        <ul>
                 <li><a href="/home">首页</a></li>
                <li><a href="/brothers">师兄</a></li>
                <li><a href="/topics">话题</a></li>
                <li><a href="/news">动态</a></li>
                <li><a href="/about/detail.html">关于</a></li>
                <li><a href="/join">加入</a></li>
        </ul>
    </div>
 </div>
 <div class="clearfloat"></div>