<div id="header">
    <div id="logo">
        {% if channel.is_homepage %}
        <img src="{{ theme_static('img/logo.png') }}" alt="{{Config.get('site', 'site_name')}}">
        {% else %}
        <img src="{{  theme_static('img/page_logo.png') }}" alt="{{Config.get('site', 'site_name')}}">
        <span>{% if channel.slug=='brothers' and contents %}师兄师姐{% else %}{{channel.description}}{% endif %}</span>
        {% endif %}
    </div>
<!--     {% set navigation_bar = [
            ('/', ['home'], '首页'),
            ('/brothers', ['brothers','brothervideos','brotherarticles'], '师兄'),
            ('/topics', ['topics'], '话题'),
            ('/news', ['news'], '动态'),
            ('/about/detail.html', ['about'], '关于'),
            ('/join', ['join'], '加入')
     ] -%} -->
    {% set navigation_bar = [
            ('/', ['home'], '首页'),
            ('/brothers', ['brothers','brothervideos','brotherarticles','brotherask'], '师兄师姐'),
            ('/about/detail.html', ['about'], '关于'),
            ('/join', ['join','joinmessages'], '加入'),
            ('/spread', ['spread'], '传播者'),
     ] -%}
    <div id="nav">
        <ul>
            {% for  href, channels, caption in navigation_bar%}
            <li>
            <a href="{{ href|e }}" {% if channel.slug in channels %} class="active-nav-link"
            {% else %} class="nav-link"{% endif%}>{{ caption|e }}</a>
            {% endfor %}
        </li>
        </ul>
    </div>
 </div>
 <div class="clearfloat"></div>