<div id="header">
    <div id="logo">
        {% if channel.is_homepage %}
        <img src="{{ theme_static('img/logo.png') }}" alt="{{Config.get('site', 'site_name')}}">
        {% else %}
        <img src="{{  theme_static('img/page_logo.png') }}" alt="{{Config.get('site', 'site_name')}}">
        <span>{{channel.description}}</span>
        {% endif %}
    </div>
    <div id="nav">
        <ul>
                 <li><a href="/home">首页</a></li>
                <li><a href="/brothers">师兄</a></li>
                <li><a href="/topics">话题</a></li>
                <li><a href="/news">动态</a></li>
                <li><a href="/about/detail.html">关于</a></li>
                <li><a href="/join">加入</a></li>
        </ul>
    </div>
 </div>
 <div class="clearfloat"></div>