<div id="sharing">
    <div id="cut-line1"></div>
    <div id="cut-line2"></div>
    <div id="shares">
        <div id="shareword">
            <span>分享到</span>
        </div>
            <div id="sites">
                <div class="site"> 
                <a   class="social-share social-share-weibo">
                    <img class="site-logo" src="{{theme_static('img/weibo_logo.png')}}">    
                </a>
                <p class="site-name">新浪微博</p>
            </div>
            <div class="site wechat-site"> 
                 <div id="wechat-help">
                    <div id="wechat-qrcode"></div>
                    <p>打开微信扫一扫,分享给朋友</p>
                </div>
                <a   class="social-share social-share-wechat">
                    <img class="site-logo" src="{{theme_static('img/wechat_logo.png')}}">
                    <p class="site-name">微信</p>
                </a>
            </div>
            <div class="site"> 
                <a  class="social-share social-share-qzone">
                    <img class="site-logo" src="{{theme_static('img/qzone_logo.png')}}">
                    <p class="site-name">QQ空间</p>
            </a>
        </div>
    </div>
</div>
</div>