{% extends theme("base.html") %}

{% block seo_meta %}
<meta name="description" content="{{content.summary}}">
<meta name="keywords" content="{{content.tags|join(',')}}">
{% endblock %}
{% block head %}
{% endblock head %}
{% block head_css %}
<link rel="stylesheet" type="text/css" href="{{theme_static('css/videos.css')}}">
<link rel="stylesheet" type="text/css" href="{{theme_static('css/share.css')}}">
{% endblock %}
{% block content %}
        {% include theme('header.html') %}
    <div class="content-wrap">
        <div  class="content">
              <div class="content-header">
                  <h1>{{content.title}}</h1>
                  <span>分享人 {{content.shared_by}}</span>
              </div>
             <div class="video-wrap" >
                <div id="like-button" class="like-wrap">
                    <img class="good_ico" src="{{theme_static('img/zan.png')}}">
                    <p id="like_numbers"></p>
                </div>
                <div id="video-detail" class="iframe-wrap">
                </div>
            </div>
            {% if content.videos|length >1 %}
            <div class="buttons-wrap">
            {% for video in content.videos %}
              {% if loop.index==1 %}
              <button class="section-button selected-section-button">{{video.video_title}}
              {% else %}
              <button class="section-button non-selected-section-button">{{video.video_title}}
              {% endif %}
            {% endfor %}
            </button>
            </div>
            {% endif %}
     </div> 
     {% include theme('share.html') %}

     {% include theme('footer.html') %}
</div>
{% endblock %}
{% block bottom_js %}
<script type="text/javascript">
$(document).ready(function(){
    var videos_titles=[{% for video in content.videos %}"{{ video.video_title}}",{% endfor %}];
     var videos_urls=[{% for video in content.videos %} '{{ video.video_url|safe}}',{% endfor %}];
     var likes=[{% for video in content.videos %}{{ video.like_numbers }},{% endfor %}];
     var index=0;
     var status=true;
     //加载视频
    $("#video-detail").append(videos_urls[0]);
    $("#like_numbers").text(likes[0]); 
    //视频按钮布局
   {% if content.videos|length >1 %}
     var button_number={{ content.videos|length }};
     var margin_left=21;
     var width=($(".video-wrap").width()-margin_left*(button_number-1))/button_number;
      $(".non-selected-section-button").css("margin-left",margin_left);
     $(".section-button").css("width",width);
     $(".section-button").css("display","inline-block");
   {% endif %}
    //视频按钮事件
    $(".section-button").click(function(){
        index=$(this).index();
        $("#video-detail iframe").remove();
        $("#video-detail").append(videos_urls[index]);
        $("#like_numbers").text(likes[index]);
        $("title").text("{{content.shared_by}} "+videos_titles[index])
        $(".section-button").removeClass("selected-section-button").addClass("non-selected-section-button");
        $(this).removeClass("non-selected-section-button").addClass("selected-section-button");
      });

    //增加csrf_token
    $(function () {
            $.ajaxSetup({
                headers: {
                    "X-CSRFToken": $("meta[name=csrf_token]").attr("content")
            }
        });
        });

    //点赞事件
    $("#like-button").click(function  () {
        if(status){
            $.post(
                '/brothervideos/addlike', 
                {"id":"{{content.id}}","index":index}, 
                function(){$("#like_numbers").text(Number($("#like_numbers").text())+1);}
            );
            status=false;
        }
    });
});
</script>
 <script type="text/javascript" src="{{theme_static('js/jquery.qrcode.min.js')}}"></script>
 <script type="text/javascript" src="{{theme_static('js/qrcode.js')}}"></script>
 <script type="text/javascript" src="{{theme_static('js/share.js')}}"></script>
{% endblock %}