{% extends theme("base.html") %}

{%block title%} {{content.title}} | {{channel.long_slug.split('/')|join(' | ')}} | {{Config.get('site', 'site_name', 'Quokka site')}} {% endblock %}

{% block seo_meta %}
<meta name="description" content="{{content.summary}}">
<meta name="keywords" content="{{content.tags|join(',')}}">
{% endblock %}
{% block head %}
<title>{{ content.title }}</title>
{% endblock head %}
{% block head_css %}
<link rel="stylesheet" type="text/css" href="{{theme_static('css/videos.css')}}">
<link rel="stylesheet" type="text/css" href="{{theme_static('css/share.css')}}">
{% endblock %}
{% block content %}
        {% include theme('header.html') %}
    <div id="content-wrap">
        <div  id="content">
              <div id="content-header">
                  <h1>{{content.title}}</h1>
                  <span>{{content.created_at.strftime('%Y.%m.%d')}} | 分享人 {{content.shared_by}}</span>
              </div>
             <div id="video">
                <div id="like-button">
                    <img id="good" src="{{theme_static('img/zan.png')}}">
                    <!-- <input type="text"  id="like_numbers" disabled="disabled"/> -->
                    <p id="like_numbers"></p>
                </div>
                <div id="flashcontent">视频无法加载，请允许flash插件或者更新flash插件</div>
            </div>
            {% if content.videos|length >1 %}
            <div id="section-buttons">
            {% for video in content.videos %}
              {% if loop.index==1 %}
              <button class="section-button first-section-button">{{video.video_title}}
              {% else %}
              <button class="section-button non-first-section-button">{{video.video_title}}
              {% endif %}
            {% endfor %}
            </button>
            </div>
            {% endif %}
     </div> 
     {% include theme('share.html') %}
</div>
     {% include theme('footer.html') %}
     <script type="text/javascript" src="{{theme_static('js/swfobject.js')}}"></script>
     <script type="text/javascript">
        $(document).ready(function(){
             var videos_urls=[{% for video in content.videos %}"{{ video.video_url}}",{% endfor %}];
             var likes=[{% for video in content.videos %}{{ video.like_numbers }},{% endfor %}];
             var index=0;
             var status=true;
             //加载视频
            swfobject.embedSWF(videos_urls[0],"flashcontent" , 960, 732, 10,"http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlashexpressInstall.swf", '', '',{quality:'high',allowfullscreen : 'true'});
            $("#like_numbers").text(likes[0]); 
            //视频按钮布局
           {% if content.videos|length >1 %}
             var button_number={{ content.videos|length }};
             var margin_left=21;
             var width=(960-margin_left*(button_number-1))/button_number;
              $(".non-first-section-button").css("margin-left",margin_left);
             $(".section-button").css("width",width);
             $(".section-button").css("display","inline-block");
           {% endif %}
            //视频按钮事件
            $(".section-button").click(function(){
                index=$(this).index();
            swfobject.embedSWF(videos_urls[index],$("#flashcontent")[0] , 960, 732, 10,"http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash", '', '',{quality:'high',allowfullscreen : 'true'});
                $(".section-button").css("background","#ffffff");
                $("#like_numbers").text(likes[index]);
                $(".section-button").css("color","#148acc");        
                $(this).css("background","#148acc");
                $(this).css("color","#ffffff");
              });

            //增加csrf_token
            $(function () {
                    $.ajaxSetup({
                        headers: {
                            "X-CSRFToken": $("meta[name=csrf_token]").attr("content")
                    }
                });
                });

            //点赞事件
            $("#like-button").click(function  () {
                if(status){
                    $.post(
                        '/brothervideos/addlike', 
                        {"id":"{{content.id}}","index":index}, 
                        function(){$("#like_numbers").text(Number($("#like_numbers").text())+1);}
                    );
                    status=false;
                }
            });
        });
     </script>
      <script type="text/javascript" src="{{theme_static('js/jquery.qrcode.min.js')}}"></script>
     <script type="text/javascript" src="{{theme_static('js/qrcode.js')}}"></script>
     <script type="text/javascript" src="{{theme_static('js/share.js')}}"></script>
{% endblock %}
