{% from theme('_helpers.html') import  render_pagination with context %}
{% extends theme("base.html") %}
{%block title%} <title>师兄指路 师兄</title>{% endblock %}
{% block seo_meta %}
<meta name="description" content="{{channel.description or Config.get('site', 'site_description')}}">
{% if channel.tags %}
<meta name="keywords" content="{{channel.tags|join(',')}}">
{% else %}
<meta name="keywords" content="{{Config.get('site', 'site_keywords')}}">
{% endif %}

{% endblock %}
{% block head_css %}
<link rel="stylesheet" href="{{theme_static('css/brother_list.css')}}">
<link rel="stylesheet" type="text/css" href="{{theme_static('css/pagination.css')}}">
{% endblock %}
{% block content %}
<!-- A wrapper for the header -->
    {% include theme('header.html') %}
    <div id="rest">
        <div class="brother-container">
            <div class="brother-sub-container">
                {% for content in contents.items %}
                <a href="{{content.get_absolute_url()}}" class="brother-item">
                        <img src="{{content.get_main_image_url(default="")}}" alt="师兄封面" class="brother-cover">
                        <p class="brother-info">
                            <span class="brother-name">{{content.title}}</span>
                            <span class="brother-other-info">{{content.brother_college_major}}</span>
                            <span class="brother-other-info">{{content.brother_college_name}}</span>
                        </p>
                        <p class="brother-item-tag">
                            {% for brother_tag in content.brother_tags %}
                            <span>{{brother_tag}}</span>
                            {% endfor %}
                        </p>
                
                {% endfor %}  
                </a>      
            </div>
            {{render_pagination(contents, channel.get_absolute_url())}}
        </div>
        {% include theme('footer.html') %}
    </div>
      <script type="text/javascript">
  $(document).ready(function  () {
      $("#pagination").css("width",{{(contents.pages+3)*52}});
  });
  </script>
{% endblock %}

