{% from theme('_helpers.html') import load_comment_area, load_tags_area, load_share_area, load_recommendation_area, load_page_header, load_page_time, load_page_content  with context %}
{% extends theme("base.html") %}

{% block title %}<title>师兄师姐名片 {{content.title}}</title>{% endblock %}

{% block seo_meta %}
<meta name="description" content="{{content.summary}}">
<meta name="keywords" content="{{content.tags|join(',')}}">
{% endblock %}

{% block head_css %}
<link rel="stylesheet" type="text/css" href="{{theme_static('css/brother_detail.css')}}">
{% endblock %}
{% block content %}
        {% include theme('header.html') %}
      <div id="baseinfo">
          <div id="cover">
              <img src="{{content.get_main_image_url(default="")}}">
          </div><div id="summary">
            <div id="moto">
               <p>“</p>
                <p >{{content.brother_motto}}</p>
               <p id="right-quote"> ”</p>
           </div>
            <p id="person-info">
                <span id="name">{{content.title}}</span>&nbsp;
                <span class="school-info">{{content.brother_college_major}}</span>&nbsp;
                <span class="school-info">{{content.brother_college_name}}</span>
            </p>
            <p id="tags">
                {% for tag in content.brother_tags%}
                <span>{{tag}}</span>
                {% endfor %}
            </p>
          </div>
      </div>

       <div id="rest-wrap">
          <div id="experiences">
            <div class="experience">
              <p class="experience-type">高校专业学历</p>
              <div class="experience-items">
                {% for experience in content.brother_experience_study%}
                  <div class="experience-item">
                      <p class="experience-title"> >  {{experience.title}}</p>
                      <p class="experience-time">{{experience.time}}</p>
                  </div>
                  {% endfor %}                
              </div>
           </div>
           <div class="experience">
              <p class="experience-type">实习工作经历</p>
              <div class="experience-items">
                {% for experience in content.brother_experience_work%}
                  <div class="experience-item">
                      <p class="experience-title"> >  {{experience.title}}</p>
                      <p class="experience-time">{{experience.time}}</p>
                  </div>   
                  {% endfor %}             
              </div>
           </div>
            <div class="experience">
              <p class="experience-type">社团组织与获奖经历</p>
              <div class="experience-items">
                {% for experience in content.brither_experience_award%}
                  <div class="experience-item">
                      <p class="experience-title"> >  {{experience.title}}</p>
                      <p class="experience-time">{{experience.time}}</p>
                  </div>    
                  {% endfor %}           
              </div>
           </div>
         </div> 

       <div id="cross"></div>
        <div id="links">
            <div id="link1">
              {% if content.brother_is_share %}
                <img class="link-img" src="{{theme_static('img/brother_say_1.png')}}">
                  <a class="link-button active-link-button" {% if content.brother_is_video %} onclick="location='{{content.brother_videos.get_absolute_url()}}'" {% else %}onclick="location='{{content.brother_articles.get_absolute_url()}}'" {% endif %}>分享</a>
                {% else %}
                <img class="link-img" src="{{theme_static('img/brother_say.png')}}">
                  <a class="link-button deactive-link-button">分享</a>
                {% endif %}
            </div>
             <div id="link2">
              {% if content.brother_is_ask %}
                 <img class="link-img" src="{{theme_static('img/brother_help_1.png')}}">
                 <a class=" link-button active-link-button" href="/brotherask/?name={{content.title}}&id={{content.id}}">我要问路</a>
                 {% else %}
                <img class="link-img" src="{{theme_static('img/brother_help.png')}}">
                  <a class="link-button deactive-link-button" >我要问路</a>
                {% endif %}
            </div>
        </div>
        {% include theme('footer.html') %}
      </div> 
     
{% endblock %}
