#rest{
    background:#f4f4f4;
}
#content{
    width:100%;

}
#content-header{
    height:146px;
    background: #148acb;
}
#header-wrap{
    width:1170px;
    margin: auto;

}
#content-header h1{
    padding-top: 32px;
    color:#ffffff;
    font:30px "Lantinghei TC","Microsoft YaHei",sans-serif;
    
}
#content-header span{
    margin-top:16px;
    color:#ffffff;
    font:18px "Lantinghei TC","Microsoft YaHei",sans-serif;
   
}

#section-links{
    width:232px;
    background: #f4f4f4;
    float: left;
}

.noselect-section-link{
    display: block;
    border-bottom:1px solid #148acc;
    background:#ffffff;
    color:#148acc;
    font:24px "Lantinghei TC","Microsoft YaHei",sans-serif;
    text-decoration: none;
}
.selected-section-link{
    display: block;
    border-bottom:1px solid #148acc;
    background:#148acc;
    color:#ffffff;
    font:24px "Lantinghei TC","Microsoft YaHei",sans-serif;
    text-decoration: none;
}
.section-link:hover{
cursor: pointer;
}
.section-link span{
    margin-left:32px;
    line-height:68px;
    
}
#right{
    width: 232px;
    float: right;
    margin-left:-200px;
}
#right a{
    position:fixed;
    right: 170px;
    top:50%;
    display: block;
}
#articles-container{
    background: #ffffff;
    margin-left:232px; 
    margin-right:232px;
}
#article-detail{
    padding: 68px 100px;
    margin:0;
    min-height:300px;
    color:#515151;
    font:18px "Lantinghei TC","Microsoft YaHei",sans-serif;
}