body {
    margin: 0;
    padding: 0;
}
#rest{
    background: #f4f4f4;
}
.brother-container {
    width: 960px;
    margin: 10px auto 0 auto;
}

.brother-sub-container {
    margin-left: -30px;
}

.brother-item {
    width: 300px;
    padding: 0;
    margin: 44px 0 0 23px;
    display: inline-block;
    text-decoration: none;
}

.brother-cover {
    width: 100%;
    height:270px;
}

.brother-info {
    margin: 15px 0 0 0;
    padding: 0;
}

.brother-other-info {
    color: #499cd5;
    font: 20px "Lantinghei SC";
    padding-left: 2px;
}

.brother-name {
    color: #128bcd;
    font: 22px "Lantinghei TC";
    padding-left: 2px;
}

.brother-item-tag {
    margin: 3px 0 0 -9px;
    padding: 0;
}

.brother-item-tag span {
    display: inline-block;
    padding: 3px 9px 3px 9px;
    margin: 6px 0 0 10px;
    border: 1px solid #7c7c7c;
    height: 22px;
    border-radius: 4px;
    color: #7c7c7c;
    font: 13px "Lantinghei SC";
    line-height: 22px;
}











