.content-wrap{
    background: #f4f4f4;
}
.content{
    width:970px;
    background:#f4f4f4;
    margin:auto;
    padding-top: 76px;
}
.message-form{
  margin:0px;
}
.segment{
    margin-bottom: 30px;
    color: #7c7c7c;
    font:22px "Lantinghei TC","Microsoft YaHei",sans-serif;
}
.segment-name{
    display: inline-block;
     width:92px;
}
.segment-content{
    padding-left: 23px;
    font-weight: bold;
}
.ask-segment{
    vertical-align: top;
}
.segment-input{
    background: #eaeaea;
    border:0;
    line-height: 42px;
    width:470px;
    height: 44px;
    font-size: 22px;
    padding-left: 23px;
    border-radius: 6px;
    outline: none;
    
}
.message-wrap{
  width:867px;
  display: inline-block;
  background: #eaeaea;
}
.text-area{
    background: #eaeaea;
    border:0;
    line-height: 42px;
    width:821px;
    height:240px;
    font-size: 22px;
    padding: 0 23px 0 23px;
    outline: none;
    resize:none;
}
.sender-button-wrap{
    width: 100%;
    height: 56px;
   position: relative;
   margin-top: 7px;
}
.btn{
  width: 200px;
  height:100%;
  font-size: 22px;
  border-radius: 6px;
  outline: none;
  line-height: 56px;
  text-align: center;
  padding:0px;
}
#send-button{
  position: absolute;
  right:0px;
}
.novalid-button{
  border: 1px solid #7c7c7c;
  background: #ffffff;
  color:#7c7c7c;
}
.valid-button{
  border: 1px solid #148acc;
  background: #148acc;
  color:#ffffff;
}
.error{
  color: #148acc;
}