#follow-wrap{
    height:183px;
    margin: 76px auto 0 auto;
    background: #148acc;
}

#follows{
    width:320px;
    margin: auto;
}

 #follow-word{
    padding-top:32px;
    padding-bottom: 18px;
    text-align: center;
    color: #ffffff;
    font-size: 28px;
    margin:0;
}

.site{
display: inline-block;
width: 30%;
}
.site-name{
    color: #ffffff;
    text-align: center;
    font-size: 18px;
}
.weibo-logo{
    border-radius:60px;
    border: 1px solid #148acc;
    padding: 5px;
    display: block;
    width:33px;
    margin:auto;
}
.weixin-logo{
    border-radius:60px;
    border: 1px solid #148acc;
    padding: 5px;
    background:  #148acc;
    display: block;
    width:33px;
    margin:auto;
}
.tweibo-logo{
    border-radius:60px;
    border: 1px solid #148acc;
    padding: 5px;
    display: block;
    width:33px;
    margin:auto;
}
.wechat-site{
    position: relative;
}
#wechat-help{
    display:none;
    position:absolute;
    top:-230px;
    left:-50px;
}