body{
    margin:0;
}
#header {
    width:1170px;
    height:106px;
    background: white;
    margin:auto;
}
#logo{
    padding-top: 32px;
    float:left;
}
#logo img{
    height: 54px;
    display: inline-block;
    vertical-align: middle;
}

#logo span{
    color: #148acc;
    font-size: 30px;
    font-family: "Lantinghei TC";
    vertical-align:middle;
    margin-left: -2px;
}
#nav {
    float:right;
    padding-top: 31px;
}
#nav ul{
    float: right;
    padding-top: 10px;
}
#nav ul li{
    float: left;
    list-style-type: none;
}
.active-nav-link{
    height: 28px;
    line-height: 28px;
    background: white;
    color:#148acc;
    font-size: 18px;
    font-family: "Lantinghei TC";
    display: block;
    text-align: center;
    text-decoration: none;
    margin-left:40px;
    border-bottom:1px solid #148acc;
}
.nav-link{
    height: 28px;
    line-height: 28px;
    background: white;
    color: #919191;
    font-size: 18px;
    font-family: "Lantinghei TC";
    display: block;
    text-align: center;
    text-decoration: none;
    margin-left:40px;
    border-bottom:1px solid #ffffff;
}

.nav-link:hover{
   color:#148acc;
}
.clearfloat{
    clear:both;
}
