.join-container {
    width: 100%;
    background: url("../img/join_bg.png");
    background-repeat: no-repeat;
}

.join-content {
    width: 1174px;
    margin: 0 auto;
    padding-top: 70px;
    min-height: 900px;
}

.join-qrcode {
    position: fixed;
    right: 166px;
    bottom: 120px;
}

footer {
    position: fixed;
    bottom: 0px;
}