.join-bg {
    position: absolute;
    top: 106px;
    width: 100%;
    z-index: -1;
}

.join-content {
    width: 1174px;
    margin: 0 auto;
    padding-top: 70px;
}

.join-qrcode {
    width: 100%;
    margin-top: 30px;
}

.join-qrcode img {
    float: right;
    margin: 0 166px 10px 0; 
}

footer {
    background-color: transparent !important;
    margin-top: 20px;
}