#sharing{
    height:168px;
    padding-top: 76px;
    border-bottom: 1px solid #148acc;
}

#cut-line1 {
    width:100px;
    height:1px;
    margin:11px 0 0 0;
    background-color:#148acc;
    overflow:hidden;
    float: left;
    }
#cut-line2 {
    width:100px;
    height:1px;
    margin:11px  0 0 0  ;
    background-color:#148acc;
    overflow:hidden;
    float: right;

    }
#shares{
    width:320px;
    margin:auto;
}
#shareword{
    text-align: center;

}
 #shares span{
    color: #148acc;
    font-size: 22px;
}
#sites{
margin-top: 39px;
padding-left: 16px;
}
.site{
display: inline-block;
width: 30%;
}
.site-name{
    color: #148acc;
    text-align: center;
    font-size: 18px;
}
.weibo-logo{
    border-radius:60px;
    border: 1px solid #148acc;
    padding: 5px;
    display: block;
    width:33px;
    margin:auto;
}
.weixin-logo{
    border-radius:60px;
    border: 1px solid #148acc;
    padding: 5px;
    background:  #148acc;
    display: block;
    width:33px;
    margin:auto;
}
.tweibo-logo{
    border-radius:60px;
    border: 1px solid #148acc;
    padding: 5px;
    display: block;
    width:33px;
    margin:auto;
}
.wechat-site{
    position: relative;
}
#wechat-help{
    display:none;
    position: absolute;
    top:-250px;
    left:-42px;
}
