#rest{
    background: #f4f4f4;
}
.banner-container {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.banner-img {
    width: 100%;
}

#previews{
    width: 1201px;
    padding-top: 54px;
    margin:auto;
    background: #f4f4f4;
}

.preview-content{
    width:272px;
    margin-left: 28px;
    display: inline-block;
    text-decoration: none;
    float: left;
}

.first-preview-content{
    width:573px;
}

.preview-content img{
    width:100%;
    height: auto;
}

.preview-content h2{
    color:#148acc;
    font:20px "Lantinghei TC","Microsoft YaHei",sans-serif;
}
.preview-content p{
    color:#7c7c7c;
   font:14px "Lantinghei TC","Microsoft YaHei",sans-serif;
}
