#content-wrap{
    width: 100%;
    background:#f4f4f4;
}
#content{
    width:960px;
    padding-top:24px;
    margin: auto;
}
#content-header h1{
    color:#148acc;
    font-size:20px;
}
#content-header span{
    margin-top:14px;
   color:#c7c7c7;
   font-size:14px;
}
#like-button{
    position: absolute;
    z-index: 1;
    top:180px;
    right: 0px;
}
#like-button p{
    margin: -41px 0 0 43px ;
    color: #ffffff;
    font:22px  "Lantinghei SC";;
}
#video{
    width:960px;
    margin-top:22px;
    position: relative;
}
#video embed{
    height:732px;
     width:960px;
}
#section-buttons{
    margin:26px auto 0 auto;
}

.section-button{
    width:164px;
    height:54px;
    background:white;
    border:1px solid #148acc;
    border-radius:8px;
    color:#148acc;
    font:19px "Lantinghei SC";;
    outline:none;
    padding:0;
    display: none;
}
.section-button:hover{
    cursor: pointer;
}
.first-section-button{
    background:#148acc;
    color:#ffffff;
}