{% extends theme("base.html") %}

{%block title%} <title>{{Config.get('site', 'homepage_title')}}</title>{% endblock %}

{% block head_css %}
<link rel="stylesheet" href="{{theme_static('css/swiper.min.css')}}">
<link rel="stylesheet" href="{{theme_static('css/index.css')}}">
<link rel="stylesheet" href="{{theme_static('css/follow.css')}}">
{% endblock %}

{% block content %}
    {% include theme('header.html') %}

    <div class="banner-container">
        <div class="swiper-wrapper">
            {% for content in contents.items %}
            {% if content.model == "brothers.banner" %}
            <div class="swiper-slide">
                <a href="{{content.url}}">
                    <img class="banner-img" src="{{content.get_main_image_url()}}" alt="轮播图片">
                </a>
            </div>
            {% endif %}
            {% endfor %}   
        </div>
        <div class="banner-prev"></div>
        <div class="banner-next"></div>
    </div>

    <div class="sub-nav">
        <div class="sub-nav-content">
            <a href="/brothers/" class="sub-nav-text">师兄师姐</a>
            <a href="/join/" class="sub-nav-text">加入</a>
            <a href="/spread/" class="sub-nav-text">传播者</a>
        </div>
    </div>

    <div class="slogan">
        <p>
            <img src="{{theme_static('img/index_slogan_text.png')}}" alt="我们是年轻人，我们渴望推动自己和社会进步">
        </p>
    </div>
    
    <div class="brother-bg-container">
        <div class="brother-container">
            <!-- 为解决inline-block间距问题，div一行显示，只能牺牲代码格式 -->
            {% for content in contents.items|selectattr("model", "equalto", "brothers.brotherinfo")|sort(attribute='home_order') %}{% if content.model == "brothers.brotherinfo" %}<div class="brother-item">
                <a href="{{content.get_absolute_url()}}" class="brother-link">
                    {% if content.brother_is_share or content.brother_is_ask %}
                        <div class="brother-server-tags">
                            {% if content.brother_is_share %}
                            <p class="brother-share-tag">分享</p>
                            {% endif %}
                            {% if content.brother_is_ask %}
                            <p class="brother-ask-tag">答问</p>
                            {% endif %}
                        </div>
                    {% endif %}
                    <img src="{{content.get_main_image_url(default="")}}" alt="师兄封面" class="brother-cover">
                    <p class="brother-info">
                        <span class="brother-name">{{content.title}}</span>
                        <span class="brother-other-info">{{content.brother_college_major}}</span>
                        <span class="brother-other-info">{{content.brother_college_name}}</span>
                    </p>
                    <p class="brother-item-tag">
                        {% for brother_tag in content.brother_tags %}
                        <span>{{brother_tag}}</span>
                        {% endfor %}
                    </p>
                </a>
            </div>{% endif %}{% endfor %}        
        </div>

        <div class="more-brother">
            <a href="/brothers">更多师兄</a>
        </div>     
    </div>

    {% include theme('follow.html') %}
    {% include theme('footer.html') %}
{% endblock %}

{% block bottom_js %}
<script type="text/javascript" src="{{theme_static('js/follow.js')}}"></script>
<script src="{{theme_static('js/swiper.min.js')}}"></script>
<script>
    function setBannerHeight(){
        $(".banner-container").height($(window).width()*740/1500).show();
    }
    
    var mySwiper = new Swiper ('.banner-container', {
        nextButton: '.banner-next',
        prevButton: '.banner-prev',
        autoplay : 1000,
        speed:1000,
    });

    setBannerHeight();
    $(window).resize(function  () {
        setBannerHeight();
        mySwiper.stopAutoplay();
        mySwiper.startAutoplay();
    });
</script>
{% endblock %}



