* {
    font-family: "Lantinghei SC","Microsoft YaHei",sans-serif;
}
p, h1, h2, h3, h4, h5, ul, li
{
    padding: 0;
    margin: 0;
}
.container{
    width:100%;
    background: #f4f4f4;
}
.content{
    position: relative;
}
.like-btn{
    position: absolute;
    right: 0;
    top:0;
}
.like-btn img{
    width:70px;
    height: 29px;
}
.like-btn p{
    margin: -27px 0 0 32px ;
    color: #ffffff;
    font:14px  "Lantinghei TC","Microsoft YaHei",sans-serif;
}
.content-header{
    width:100%;
    height:68px;
}

.content-title{
    color: #148acc;
    font:18px  "Lantinghei TC","Microsoft YaHei",sans-serif;
    margin:14px 0 6px 10px;
}
.content-author{
    color: #7c7c7c;
    font:14px  "Lantinghei TC","Microsoft YaHei",sans-serif;
    margin:0px 0 14px 10px;
}
.section{
    width:100%;
    background: #ffffff;
}
.section-title:before{
    content: '';
    display: inline-block; 
    width:4px;
    height: 24px;
    background: #148acc;
    margin:0 6px 0 0;
    vertical-align: text-bottom;
}
.section-title{
    color: #148acc;
    font:18px  "Lantinghei TC","Microsoft YaHei",sans-serif;
    padding:8px 0 12px 0;
}
.section-body{
    color: #7c7c7c;
    font:13px  "Lantinghei TC","Microsoft YaHei",sans-serif;
    padding: 0 10px 20px 10px;
}
.more{
    width: 153px;
    color: #c7c7c7;
    font:13px  "Lantinghei TC","Microsoft YaHei",sans-serif;
    margin: 0 auto 25px auto;
    padding-bottom: 23px;
}
.fix-btn {
    position: fixed;
    top: 38%;
    right: 5px;
    z-index: 5;
}

.fix-btn img {
    display: block;
    margin-top: 3px;
    width: 40px;
    height: auto;
}
/*sideout布局开始*/
.menu-mask{
  position: fixed;
  top:0;
  margin-left: 100%;
  /*right:100%;*/
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  z-index:1;
  /*display: none;*/
}
.section-menu{
/*    position: fixed;
    left: auto;
    top: 0;
    bottom: 0;
    right: 0;*/
    width: 256px;
    height:100%;
    float: right;
    overflow-y: auto;
    overflow-x:hidden;
    background-color: #f4f4f4;
}
.section-menu header{
    background-color: #148acc;
    padding-top: 13px;
    height: 37px;
}

.section-menu header h2 {
    color: #ffffff;
    font-size: 18px;
    padding-left: 19px;
    font-weight: lighter;
}
.section-menu ul {
    list-style-type: disc;
    padding-left: 30px;
}

.menu-item {
    font-size: 18px;
    line-height: 48px;
    vertical-align: middle;
}

.menu-item::after {
    content: "";
    display: block;
    margin-left: -30px;
    width: 256px;
    height: 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #7c7c7c;   
}

.menu-active {
    color: #148acc;
}

.menu-negative {
    color: #7c7c7c;
}



/*sideout布局结束*/