*{
  font-family:"Lantinghei TC","Microsoft YaHei",sans-serif;
}
.container{
    width:100%;
    background: #f4f4f4;
}
.content{
    width:100%;
    background:#f4f4f4;
    padding-top: 18px;
}
.message-form{
  margin:0px;
}


.segment{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #7c7c7c;
    font-size:14px ;
    padding:15px 0 15px 0;
}
.segment:nth-of-type(even){
background:#eaeaea;
}
.segment-name{
    width:17%;
    opacity: 0.5;
    padding-left: 7px;
}

.segment-input{
    border:0;
    line-height: 25px;
    width:86%;
    border-radius: 4px;
    outline: none;
}
.segment-input:nth-of-type(1){
  background: #f4f4f4;
}
.text-area{
    background: #eaeaea;
    border:0;
    line-height: 25px;
    width:100%;
    height:176px;
    padding: 0 7px 0 7px;
    border-radius: 6px;
    resize:none;
    outline:none;
}
.sender-button-wrap{
   width: 100%;
   height: 40px;
   position: relative;
   margin: 16px 0 100px 0;
}
.send-btn{
  -webkit-appearance:none; /*去除input默认样式*/
  position: absolute;
  right: 10px;
  width: 150px;
  height:100%;
  font-weight: bold;
  font-size:16px ;
  border-radius: 6px;
  outline: none;
}
.novalid-button{
  border: 1px solid #7c7c7c;
  background: #ffffff;
  color:#7c7c7c;
}
.valid-button{
  border: 1px solid #148acc;
  background: #148acc;
  color:#ffffff;
}


.confirm-mask{
  position: fixed;
  top:0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  z-index:1;
  display: none;
}
.confirm{
  position: relative;
  top:30%;
  width:100%;
  height:30%;
  background: #ffffff;
  overflow:hidden; 
}
.confirm a{
  position: absolute;
  top:17px;
  right:17px;
}
.confirm a img{
  width:16px;
  height:16px;
}
.confirm p{
  position: relative;
  top:40%;
  color: #148acc;
  font-size:14px;
  text-align: center;
  line-height: 25px;
  padding: 0 20px 0 20px;
}