*{
  font-family:"Lantinghei TC","Microsoft YaHei",sans-serif;
}
.container{
    width:100%;
    background: #f4f4f4;
}
.content{
    width:100%;
    background:#f4f4f4;
    padding-top: 18px;
}
.message-form{
  margin:0px;
}
.segment{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #7c7c7c;
    font-size:14px ;
    padding:15px 0 15px 0;
}
.segment:nth-of-type(even){
background:#eaeaea;
}
.segment-name{
    width:17%;
    opacity: 0.5;
    padding-left: 7px;
}
.segment p{
  line-height: 25px;
  width:86%;
  margin:0;
}
.segment-input{
    border:0;
    line-height: 25px;
    width:86%;
    border-radius: 4px;
    outline: none;
}
.segment-input:nth-of-type(1){
  background: #f4f4f4;
}
.text-area{
    background: #eaeaea;
    border:0;
    line-height: 25px;
    width:100%;
    height:176px;
    padding: 0 7px 0 7px;
    border-radius: 6px;
    resize:none;
    outline:none;
}
.buttons-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
   width: 100%;
   height: 40px;
   margin: 16px 0 100px 0;
}
.btn{
  -webkit-appearance:none; /*去除默认样式*/
  width: 130px;
  height:100%;
  font-weight: bold;
  font-size:16px ;
  border-radius: 6px;
  outline: none;
  line-height: 40px;
  text-align: center;
  padding: 0;
}
.btn:nth-child(1){
  margin-right: 12px;
}
.btn:nth-child(2){
  height:42px;
}
.novalid-button{
  border: 1px solid #7c7c7c;
  background: #ffffff;
  color:#7c7c7c;
}
.valid-button{
  border: 1px solid #148acc;
  background: #148acc;
  color:#ffffff;
}

.confirm-mask{
  position: fixed;
  top:0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  z-index:1;
  display: none;
}
.confirm{
  position: relative;
  top:30%;
  width:100%;
  height:30%;
  background: #ffffff;
  overflow:hidden; 
}
.confirm a{
  position: absolute;
  top:17px;
  right:17px;
}
.confirm a img{
  width:16px;
  height:16px;
}
.confirm p{
  position: relative;
  top:40%;
  color: #148acc;
  font-size:14px;
  text-align: center;
  line-height: 25px;
  padding: 0 20px 0 20px;
}
.ico_att {
    width: 8px;
    height: 14px;
    background: url("../img/attch_icon.png") no-repeat 0 0;
    background-size:auto 100%;
    padding: 0;
    border: none;
    margin-right: 5px;
    display: inline-block;
}
.uploader-list{
  padding-left: 17px;
}
.uploader-list .item{
    height: 17px;
    font-size: 14px;
}
.filename{

  color: #148acc;
}
.att_del{
  margin-left: 4px;
}
.progress {
    height: 12px;
    width:158px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    display: inline-block;
}
.progress-bar{
  height: 100%;
  background: #148acc;
}