{% extends theme("base.html") %}

{%block title%}<title>师兄指路 加入</title>{% endblock %}

{% block seo_meta %}
<meta name="description" content="{{channel.description or Config.get('site', 'site_description')}}">
{%if channel.tags %}
<meta name="keywords" content="{{channel.tags|join(',')}}">
{%else%}
<meta name="keywords" content="{{Config.get('site', 'site_keywords')}}">
{%endif%}
{% endblock %}

{% block head_css %}
<link rel="stylesheet" href="{{theme_static('css/join.css')}}">
{% endblock %}

{% block content %}
    {% include theme('header.html') %}

    <div class="container">
        <h1>谁不需要伙伴</h1>
        <p>
            你在阅读此文，足证我们有共同的价值观。<br>
            <br>
            志同则道合，即便没有路，走的人多了，也便成了路。<br>
            <br>
            伙伴们已经迈出了第一步，有你接力，必能成就星辰大海的征途。<br>
            <br>
            我们需要<br>
        </p>
        <ul>
            <li>分享者——以视频或文稿，分享经验、教训和思考。</li>
            <li>答疑者——用各种方式解答后来人的疑问。</li>
            <li>传播者——把分享带到每个角落，让更多人受益。</li>
        </ul> 
        <br>
        <p>
            年轻人是推动进步的力量，多做一点点，一切皆不同。
        </p>
        <div class="join-step">
            <img src="{{theme_static('img/join_step.png')}}" alt="">
            <button>发送简历</button>
        </div>
    </div>

    {% include theme('footer.html') %}
{% endblock %}

{% block bottom_js %}
<script>
    $(".join-step button").on("tap", function(){
        window.location.href = "/joinmessages";
    });
</script>
{% endblock %}




