{% from theme('_helpers.html') import load_comment_area, load_tags_area, load_share_area, load_recommendation_area, load_page_header, load_page_time, load_page_content  with context %}
{% extends theme("base.html") %}

{%block title%} {{content.title}} | {{channel.long_slug.split('/')|join(' | ')}} | {{Config.get('site', 'site_name', 'Quokka site')}} {% endblock %}

{% block seo_meta %}
<meta name="description" content="{{content.summary}}">
<meta name="keywords" content="{{content.tags|join(',')}}">
{% endblock %}

{% block head_css %}
<link rel="stylesheet" type="text/css" href="{{theme_static('css/brothervideos.css')}}">
<link rel="stylesheet" type="text/css" href="{{theme_static('css/share.css')}}">
{% endblock %}
{% block content %}
        {% include theme('header.html') %}
        <div id="rest">
        <div  id="content">
              <div id="content-header">
                  <h1>{{content.title}}</h1>
                  <span>{{content.created_at.strftime('%Y.%m.%d')}}|分享人 {{content.shared_by}}</span>
              </div>
             <div id="video">
                <img id="good" src="zan.png">
                <embed  quality="high" allowfullscreen="true" type="application/x-shockwave-flash" src="http://static.hdslb.com/miniloader.swf" flashvars="{{content.video.video_url}}" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash"></embed>
            </div>
     </div>
     {% include theme('share.html') %}
     {% include theme('footer.html') %}
     </div>
{% endblock %}
