{% from theme('_helpers.html') import load_comment_area, load_tags_area, load_share_area, load_recommendation_area, load_page_header, load_page_time, load_page_content  with context %}
{% extends theme("base.html") %}

{%block title%} {{content.title}} | {{channel.long_slug.split('/')|join(' | ')}} | {{Config.get('site', 'site_name', 'Quokka site')}} {% endblock %}

{% block seo_meta %}
<meta name="description" content="{{content.summary}}">
<meta name="keywords" content="{{content.tags|join(',')}}">
{% endblock %}

{% block head_css %}
<link rel="stylesheet" type="text/css" href="{{theme_static('css/articles_detail.css')}}">
<link rel="stylesheet" type="text/css" href="{{theme_static('css/share.css')}}">
{% endblock %}
{% block content %}
        {% include theme('header.html') %}
        <div id="rest">
        <div  id="content">
              <div id="content-header">
                    <div id="header-wrap">
                      <h1>{{content.title}}</h1>
                      <span>作者 | {{content.author}}   发表时间|{{content.created_at.strftime('%Y.%m.%d')}}</span>
                    </div>
              </div>
                <div id="section-links">
                    {% for article in content.articles%}
                    <a href= "#link{{loop.index}}" class="section-link">
                        <span>{{article.title}}</span>
                    </a>
                    {% endfor %}
                </div>
                <div id="right">
                    <a href="#nav">
                        <img src="{{theme_static('img/back_top.png')}}">
                    </a>
                </div>
                <div id="articles-container">
                    <div id="articles">
                        {% for article in content.articles%}
                        <p id="link{{loop.index}}">{{article.body}}</p>
                        {% endfor %}
                     </div>
                     {% include theme('share.html') %}
                </div>
     </div>
     {% include theme('footer.html') %}
     </div>
{% endblock %}
