{% from theme('_helpers.html') import render_pagination with context %}
{% extends theme("base.html") %}

{%block title%} {{channel.long_slug.split('/')|join(' | ')}} | {{Config.get('site', 'site_name', 'Quokka site')}} {% endblock %}

{% block seo_meta %}
<meta name="description" content="{{channel.description or Config.get('site', 'site_description')}}">
{%if channel.tags %}
<meta name="keywords" content="{{channel.tags|join(',')}}">
{%else%}
<meta name="keywords" content="{{Config.get('site', 'site_keywords')}}">
{%endif%}

{% endblock %}
{% block head_css %}
<link rel="stylesheet" href="{{theme_static('css/topic_list.css')}}">
<link rel="stylesheet" href="{{theme_static('css/pagination.css')}}">
{% endblock %}
{% block content %}
<!-- A wrapper for the header -->
    {% include theme('header.html') %}
     <div id="hotpic">
         <img src="/mediafiles/image/2016/4/ceshi_14383.jpg">
     </div>
     <div id="rest">
        <div id="previews">
            {% for content in contents.items %}
                <a href="{{content.get_absolute_url()}}" class="topic-link">
                     <div class="preview-content" >
                        <img src="{{content.get_main_image_url(default="")}}" alt="动态封面">
                        <h2 >{{content.title}}</h2>
                         <p >{{content.summary}}</p>
                     </div>
                </a>
             {% endfor %}           
        </div>
        {{render_pagination(contents, channel.get_absolute_url())}}
        {% include theme('footer.html') %}
    </div>
  <script type="text/javascript">
  $(document).ready(function  () {
      $("#pagination").css("width",({{contents.pages}}+3)*52);
  });
  </script>
{% endblock %}

