{% extends theme("base.html") %}
{% block seo_meta %}
<meta name="description" content="{{content.summary}}">
<meta name="keywords" content="{{content.tags|join(',')}}">
{% endblock %}
{% block head %}
<title>{{ content.title }}</title>
{% endblock head %}
{% block head_css %}
<link rel="stylesheet" type="text/css" href="{{theme_static('css/articles_detail.css')}}">
{% endblock %}
{% block content %}
<div class="container" id="container">
      {% include theme('header.html') %}
        <div  class="content">
          {% if channel.slug =="brotherarticles"%}
          <div id="like-btn" class="like-btn">
            <img class="good_ico" src="{{theme_static('img/like.png')}}">
            <p id="like_numbers">{{ request.args.get('likes') }}</p>
        </div>
         {% endif %}
        <div class="content-header">
            <p class="content-title">{{content.title}}</p>
            <p class="content-author">分享者： {{content.author}}</p>
        </div>
        <div class="section">
            <div class="section-title">{{content.articles[0].title}}</div>
            <div class="section-body">{{content.articles[0].body|safe()}}</div>
            <div class="more">更多章节请点击右边目录</div>
        </div>

      </div>   
    {% include theme('footer.html') %}
  </div>
  <div class="fix-btn">
      <img src="{{theme_static('img/up_top.png')}}" alt="">
      <img src="{{theme_static('img/section_menu.png')}}" alt="">
  </div>
  <!-- 下面部分为sideout相关DOM，注意给整体container加上id -->
    <div class="menu-mask" id="menu-mask">
      <nav id="menu" class="section-menu">
        <header>
            <h2>目录</h2>
        </header>
        <ul>
          {% for article in content.articles%}
              {% if loop.index==1 %}
            <li class="menu-item menu-active" seq="{{loop.index0}}">{{article.title}}</li>
            {% else %}
            <li class="menu-item menu-negative" seq="{{loop.index0}}">{{article.title}}</li>
            {% endif %}
            {% endfor %}
        </ul>
    </nav>
  </div>

<!-- 直接将文章内容填充到JS中，会出现换行，JS语法错误 -->
<!-- 将文章内容填充到该标签中，再读入JS变量中 -->
<div id="articles" style="display:none;">
  {% for article in content.articles %}
  <div>
    {{ article.body|safe() }}
  </div>
  {% endfor %}
</div>

{% endblock %}
{% block bottom_js %}
<script src="{{theme_static('js/zepto/1.1.6/fx.js')}}"></script>
<script>
    var articleTitles=[{% for article in content.articles %} "{{article.title}}",{% endfor %}];

    var articles = []
    $("#articles div").each(function(){
      articles.push($(this).html());
    });

    var n=0;
    //菜单出现和消失的动画
    function show_menu () {
      $("body").css("overflow","none");
      $(".fix-btn").toggle();
      $(".menu-mask").animate({
            "margin-left":"0"
        }, 300, 'linear');
    }
    function hide_menu () {
      $(".menu-mask").animate({
            "margin-left":"100%"
        }, 300, 'linear',function  () {
          $(".fix-btn").toggle();
          $("body").css("overflow","auto");
        });
    }
    //点击的时候显示菜单
    $(".fix-btn img").eq(1).on("tap", function() {
        show_menu();
    });
    //右滑的时候，菜单消失
    $("#menu-mask").on('swipeRight',function  () {
        hide_menu();
    });
    $(".fix-btn img").eq(0).on("tap", function() {
        scroll(0,0);
    });
    $("#menu ul").on("tap", function(event) {
        n = parseInt($(event.target).attr("seq"));
        // 遍历改变目录文字样式
        $("#menu ul li").each(function(index, element) {
            if( index == n ) {
                $(element).addClass("menu-active");
                $(element).removeClass("menu-negative");
            }
            else {
                $(element).addClass("menu-negative");
                $(element).removeClass("menu-active");
            }
        });
        $(".section-body").html(articles[n]);
        $(".section-title").html(articleTitles[n]);
        hide_menu();
    });
    {% if channel.slug =="brotherarticles"%}
     $.extend($.ajaxSettings, {
      headers: {
        'X-CSRFToken': $("meta[name=csrf_token]").attr("content")
      }
    });
    var likeNum={{ request.args.get('likes') }};
    var likeStatus=true;
    $.get(
        '/brothers/like', 
        {"id":"{{ request.args.get('id') }}"}, 
        function(response){
          data=response["data"];
          if(!data["rtn"]){
            likeNum=data["like_numbers"];
          }
          else{
            likeNum+=1;
          }
          $("#like_numbers").text(likeNum);
        }
      );
        //点赞事件
    $("#like-btn").on("tap", function  () {
        if(likeStatus){
            $.post(
                '/brothers/like', 
                {"id":"{{ request.args.get('id') }}"}, 
                function(){
                  likeNum+=1;
                  $("#like_numbers").text(likeNum);
                }
            );
            likeStatus=false;
        }
    });
    {% endif %}

</script>
{% endblock %}