{% from theme('_helpers.html') import render_pagination with context %}
{% extends theme("base.html") %}

{% block seo_meta %}
<meta name="description" content="{{channel.description or Config.get('site', 'site_description')}}">
{%if channel.tags %}
<meta name="keywords" content="{{channel.tags|join(',')}}">
{%else%}
<meta name="keywords" content="{{Config.get('site', 'site_keywords')}}">
{%endif%}

{% endblock %}
{% block head_css %}
<link rel="stylesheet" href="{{theme_static('css/swiper.min.css')}}">
<link rel="stylesheet" href="{{theme_static('css/news_list.css')}}">
{% endblock %}

{% block content %}
    {% include theme('header.html') %}

    <div class="container">
        <div class="banner">
            <div class="swiper-wrapper">
            {%- for content in contents.items  if content.model == "brothers.banner" -%}
                <div class="swiper-slide">
                    <a href="{{ content.url }}">
                        <img src="{{ content.get_main_image_url() }}"" alt="">
                    </a>
                </div>
            {%- endfor -%}
            </div>
        </div>
        <div class="contents">
            <div class="item">
                <div class="item-cover">
                    <img src="{{theme_static('img/news_cover_demo.png')}}" alt="">
                </div>
                <div class="item-text">
                    <h1>动态的标题</h1>
                    <p>简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介</p>
                </div>
            </div>
            <div class="item">
                <div class="item-cover">
                    <img src="{{theme_static('img/news_cover_demo.png')}}" alt="">
                </div>
                <div class="item-text">
                    <h1>动态的标题</h1>
                    <p>简介简介简介简介简简介简介简介简介介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介</p>
                </div>
            </div>
        </div>
    </div>
    
    {% include theme('footer.html') %}
{% endblock %}

{% block bottom_js %}
<script src="{{theme_static('js/swiper.min.js')}}"></script>
<script>
var banner = new Swiper ('.banner', {
    direction: 'horizontal',
    loop: true,
});
</script>
{% endblock %}
