{% from theme('_helpers.html') import render_pagination with context %}
{% extends theme("base.html") %}

{% block seo_meta %}
<meta name="description" content="{{channel.description or Config.get('site', 'site_description')}}">
{%if channel.tags %}
<meta name="keywords" content="{{channel.tags|join(',')}}">
{%else%}
<meta name="keywords" content="{{Config.get('site', 'site_keywords')}}">
{%endif%}

{% endblock %}
{% block head_css %}
<link rel="stylesheet" href="{{theme_static('css/swiper.min.css')}}">
<link rel="stylesheet" href="{{theme_static('css/news_list.css')}}">
{% endblock %}

{% block content %}
    {% include theme('header.html') %}

    <div class="container">
        <div class="banner">
            <div class="swiper-wrapper">
            {%- for content in contents.items  if content.model == "brothers.banner" -%}
                <div class="swiper-slide">
                    <a href="{{ content.url }}">
                        <img src="{{ content.get_main_image_url() }}"" alt="">
                    </a>
                </div>
            {%- endfor -%}
            </div>
        </div>
        <div class="contents"></div>
        <button id="more-btn" class="more-btn">加载更多</button>
    </div>
    
    {% include theme('footer.html') %}
{% endblock %}

{% block bottom_js %}
<script src="{{theme_static('js/swiper.min.js')}}"></script>
<script type="text/javascript" src="//cdn.bootcss.com/handlebars.js/4.0.5/handlebars.min.js"></script>
<script>
    // 根据channel确定url前缀
    {%if channel.slug == "topics" %}
    var baseUrl="/topicsinfo";
    {%else%}
    var baseUrl="/newsinfo";
    {%endif%}
</script>
<script src="{{theme_static('js/topic_news.js')}}"></script>
{% endblock %}
