{% extends theme("base.html") %}

{% block seo_meta %}
<meta name="description" content="{{content.summary}}">
<meta name="keywords" content="{{content.tags|join(',')}}">
{% endblock %}

{% block head %}
{% endblock head %}

{% block head_css %}
<link rel="stylesheet" type="text/css" href="{{theme_static('css/videos.css')}}">
{% endblock %}

{% block content %}
    {% include theme('header.html') %}
    <div class="container">
        <div class="video-container" id="video-detail"></div>
        <div class="video-details">
            <h2>{{ content.videos[0]["video_title"] }}</h2>
            <p>分享者：{{content.shared_by}}</p>
            <div class="video-btn-container">
                {% if channel.slug =="brothervideos"%}
                <div class="video-like-btn video-btn"></div>
                {% else %}
                <div class="video-like-btn video-btn">{{content.videos[0].like_numbers}}</div>
                {% endif %}
                <div class="video-share-btn video-btn">分享</div>
            </div>
        </div>
        <nav class="video-nav">
            <!-- 坑爹的老问题，flex到底是否合适这种场景？ -->
            {% if content.videos|length >1 %}
            {% for i in range(0, content.videos|length, 2) %}
                {% if (i==(content.videos|length - 1)) %}
                    <div class="video-nav-row">
                        <p class="video-nav-item" seq="{{ i }}">{{ i + 1 }}&nbsp;&nbsp;{{ content.videos[i]["video_title"] }}</p>
                        <div class="video-nav-divide"></div>
                        <p style="background-color: #f4f4f4;" class="video-nav-item"></p>
                    </div>
                {% elif i==0 %}
                    <div class="video-nav-row">
                        <p class="video-nav-item" seq="{{ i }}">{{ i + 1 }}&nbsp;&nbsp;{{ content.videos[i]["video_title"] }}</p>
                        <div class="video-nav-divide"></div>
                        <p class="video-nav-item" seq="{{ i + 1 }}">{{ i + 2 }}&nbsp;&nbsp;{{ content.videos[i+1]["video_title"] }}</p>
                    </div>
                {% else %}
                    <div class="video-nav-row">
                        <p class="video-nav-item" seq="{{ i }}">{{ i + 1 }}&nbsp;&nbsp;{{ content.videos[i]["video_title"] }}</p>
                        <div class="video-nav-divide"></div>
                        <p class="video-nav-item" seq="{{ i + 1 }}">{{ i + 2 }}&nbsp;&nbsp;{{ content.videos[i+1]["video_title"] }}</p>
                    </div>
                {% endif %}
            {% endfor %}
            {% endif %}
        </nav>   
    </div>

    {% include theme('footer.html') %}
{% endblock %}
