{% extends theme("videos_base.html") %}

{%block title%}<title>{{content.shared_by}} {{content.videos[0].video_title}}</title>{% endblock %}

{% block bottom_js %}
<script type="text/javascript">
    var videos_titles=[{% for video in content.videos %}"{{ video.video_title}}",{% endfor %}];
    var videos_urls=[{% for video in content.videos %} '{{ video.video_url|safe}}',{% endfor %}];
    var likes=[{% for video in content.videos %}{{ video.like_numbers }},{% endfor %}];
    var index=0;
    var likeStatus=[{% for i in range(content.videos|length) %}true,{% endfor %}];
    // 增加激活视频样式
    $(".video-nav-item").eq(0).addClass("video-nav-active");
    // 加载第一个视频
    $(".video-container").html(videos_urls[0]);
    // 视频按钮事件
    $(".video-nav-item").on("tap", function(event){
        index=$(event.target).attr("seq");
        console.debug("index is " + index);
        $(".video-container").html(videos_urls[index]);
        $(".video-nav-item").removeClass("video-nav-active")
        $(".video-nav-item").eq(index).addClass("video-nav-active");
        $(".video-details h2").html(videos_titles[index]);
        $(".video-like-btn").html(likes[index]);
    });

    // 增加csrf_token
    $(function() {
        $.ajaxSettings.headers = {"X-CSRFToken": $("meta[name=csrf_token]").attr("content")};
    });

    // 点赞事件
    // TODO: 为什么tap事件对于button不友好，难道不能用button嘛？
    // $(".video-like-btn").on("tap", function(event) {
    //     event.preventDefault();
    //     console.debug("taped");
    //     if (likeStatus[index]) {
    //         $.post('/brothervideos/addvideolike', 
    //             {
    //                 "id": "{{content.id}}",
    //                 "index": index
    //             }, 
    //             function(data, status, xhr) {
    //                 console.debug("/brothervideos/addvideolike status is " + status);
    //             }
    //         );
    //         // 为增强体验，先在UI上显示点赞数+1
    //         likes[index] += 1;
    //         $(".video-like-btn").html(likes[index]);
    //         likeStatus[index] = false;
    //     }
    // });
</script>
{% endblock %}
